.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}



.Header {
  background-color: #282c34;
  min-height: 20vh;
  min-width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.Main {
  background-color: aqua;
  border: 1px solid darkblue;
  min-width:auto;
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-content: space-around;
}

.CategoriesList ul li{
 height: 50px;
 border: 2px solid rgb(0, 255, 94);
 background-color: #268b2d;
 margin: 3px;
}

.ProductCard{
border: 2px solid darkblue;
display: ruby-base;
background-color:rgb(233, 234, 218);
width: 45vw;
margin: 3px;
}

.ProductCard img{
  width: 100px;
  height: 100px;
}

.Cart{
  background-color: antiquewhite;
  border: 2px solid rgb(139, 0, 0);
  min-width:auto;
  min-height: 28vh;
}

.CartCard{
  border: 2px solid darkblue;
display: ruby-base;
background-color:rgb(233, 234, 218);
width: 45vw;
margin: 3px;
}


.CartCard img{
  width: 100px;
  height: 100px;
}







